body {
    background-color: #F5F5F5;
}

.main {
    position: absolute;
    width: 1300px;
    height: 820px;
    left: 15%;
    right: 7%;
}

.header {
    position: absolute;
    height: 68px;
    left: 4%;
    right: 4%;
    top: 1%;
}

h1 {
    position: absolute;
    height: 51px;
    left: -2%;
    right: 52%;
    top: 10%;
    font-size: 42px;
    font-weight: 400;
}

.posts {
    width: 110px;
    height: 27px;
    position: absolute;
    left: 77%;
    top: 67%;
    font-size: 17px;
    text-align: center;
    color: #0070A0;
}
.blogs {
    position: absolute;
    height: 486px;
    left: 2%;
    right: 2%;
    top: 10%;
}

.blog-first {
    position: absolute;
    height: 487px;
    width: 355px;
    top: 20%;
    left: 0%;
    right: 60%;
    background-color: white;
}

img {
    position: absolute;
    height: 238px;
    width: 355px;
}

.little-text-1 {
    position: absolute;
    top: 55%;
    right: 0%;
    left: 6%;
    height: 22px;
    width: 100px;
    background-color: #E6F7FF;
}

.little-text-text-1 {
    position: absolute;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    top: -7px;
    left: 15%;
    color: #2C90C9;
}

h2 {
    position: absolute;
    top: 60%;
    left: 6%;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}

.content-text {
    position: absolute;
    top: 77%;
    left: 7%;
    right: 15%;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
}

.data {
    position: absolute;
    top: 91%;
    left: 7%;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
}

.blog-second {
    position: absolute;
    height: 487px;
    width: 355px;
    top: 20%;
    left: 31%;
    right: 33%;
    background-color: white;
}

.little-text-2 {
    position: absolute;
    top: 55%;
    right: 0%;
    left: 6%;
    height: 22px;
    width: 90px;
    background-color: #E6F7FF;
}

.little-text-text-2 {
    position: absolute;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    top: -7px;
    left: 13%;
    color: #2C90C9;
}

.blog-third {
    position: absolute;
    height: 487px;
    width: 355px;
    top: 20%;
    left: 62%;
    right: 0%;
    background-color: white;
}

.little-text-3 {
    position: absolute;
    top: 55%;
    right: 0%;
    left: 6%;
    height: 22px;
    width: 60px;
    background-color: #E6F7FF;
}

.little-text-text-3 {
    position: absolute;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    top: -7px;
    left: 26%;
    color: #2C90C9;
}