@font-face {
    font-family: 'Gilroy';
    src: url(/lesson-7/fonts/gilroy-regular.ttf);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url(/lesson-7/fonts/gilroy-bold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    width: 440px;
    height: 460px;
    background-color: #FFF;
    text-align: center;
    padding: 20px 30px 40px;
    box-shadow: 0 0 25px #C7C7C7;
    border-radius: 5px;
    margin: 40px;

}
p {
    font-family: 'Gilroy', sans-serif; 
}
.icon {
    margin-top: 19px;
    height: 100px;
}
.icon-2 {
    margin-top: 39px;
    margin-bottom: 10px;
    height: 76px;
}
a {
    display: inline-flex;
    padding: 16px 20px;
    text-align: center;
    color: black;
    text-decoration: none;
    box-shadow: 0px 0px 4px #C7C7C7;
    border: 5px;
}
.button {
    display: inline-flex;
    padding: 20px 50px;
    height: 20px;
    margin-top: 40px;
    color: #FFF;
    font-family: 'Gilroy-Bold', sans-serif;
    background-color: #E31E24;
    border-radius: 4%;
}
.title,.price,.price-2 {
    font-size: 22px;
    margin-top: 28px;
    font-family: 'Gilroy-Bold', sans-serif;

}
.price-2 {
    margin-top: 50px;
}
.list{
    display: flex;
    font-family: 'Gilroy', sans-serif; 
    justify-content: space-around;
    text-align: center;
    width: 465px;
}
.item {
    list-style: none;
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.active {
    background-color: #E31E24;
}
.first {
    color: #FFF;
}
.item :hover {
    background-color: #E31E24;
    color: #FFF;
}