@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candal";
  src: url(../fonts/Candal-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

* {
  text-decoration: none;
}

body, .header, .preview {
  display: flex;
  flex-wrap: wrap;
}

body {
  background: #1E1E1E;
  justify-content: center;
}

.header {
  border-bottom: 1px #FFF solid;
  width: 75%;
  padding-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
}

.header__logo {
  width: 189px;
}

.menu-wrap,.icons,.menu-list,.icons-item {
  display: flex;
  align-items: center;
}

.menu-wrap {
  justify-content: space-between;
}

.menu-list,.icons-item {
  justify-content: center;
  list-style: none;
}

.menu__link {
  color: #CBCBCB;
}
.menu__link,.connect {
  font: 300 20px/24px "Montserrat", sans-serif;
}

.menu__item {
  margin-right: 30px;
}

.icons-item {
  margin-right: 23px;
}

.header__link {
  height: 50px;
}

.connect {
  width: 191px;
  color: #fff;
  padding: 13px 24.5px;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.header__link:last-child {
  margin-right: 0;
}

.preview {
  width: 100vw;
  z-index: 10;
  background-size: cover;
  position: relative;
  height: 894px;
  align-content: center;
  flex-direction: column;
}
.preview-top-text-1,.preview-top__title,.preview-top-text-2{
  text-align: center;
}
.preview-top-text-1,.preview-top-text-2{
  color: #CBCBCB;
}
.preview-top-text-1 {
  width: 391px;
  font: 300 italic 14px/18px "Montserrat", sans-serif;
  margin: 129px auto 0;
}

.preview-top__title {
  width: 680px;
  font: 400 60px/78px "Candal", sans-serif;
  color: #fff;
  margin-top: 5px;
}

.nft,.content-link-1 {
  color: #FF4C24;
}

.preview-top-text-2 {
  width: 679px;
  font: 300 20px/26px "Montserrat", sans-serif;
  margin: 30px auto 0;
}

.content-button {
  width: auto;
  margin-top: 100px;
}

.content-link-1,.content-link-2 {
  font: 400 30px/30px "Candal", sans-serif;
  text-transform: uppercase;
  padding: 14px 71px;
}

.content-link-1 {
  background: rgba(255, 76, 36, 0.15);
  border: 1px solid #FF4C24;
  backdrop-filter: blur(10px);
  margin-right: 20px;
}

.content-link-2 {
  color: #101413;
  background: #59FFB7;
}

.fog {
  position: absolute;
  z-index: 5;
  top: 30%;
  bottom: auto;
  width: 100vw;
}

.background, .black {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: auto;
  bottom: -50px;
  top: auto;
}
.black {
  z-index: 3;
}

@media screen and (max-width:1655px) {
  .menu-wrap {
    display: none;
  }

  .preview-top-text-1 {
    margin: 100px auto 0;
  }
}

@media screen and (max-width:1050px) {
  .connect {
    display: none;
  }

  .preview-top-text-1 {
    margin: 70px auto 0;
  }
  .fog {
    z-index: 1;
}
}