@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candal";
  src: url(../fonts/Candal-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

* {
  text-decoration: none;
}

body {
  background: #1E1E1E;
  display: flex;
  background-image: url("../image/mask.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.header {
  border-bottom: 1px #FFF solid;
  margin: 0 auto;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.menu-wrap,
.icons {
  display: flex;
  align-items: center;
}

.menu-wrap {
  justify-content: space-between;
}

.menu-list,
.icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu__link {
  color: #CBCBCB;
  font: 300 20px/24px "Montserrat", sans-serif;
}

.menu__item {
  margin-right: 30px;
}

.icons-item {
  margin-right: 23px;
}

.icons-item:last-child {
  margin-right: 55px;
}

.header__link {
  margin-right: 20px;
  height: 50px;
}

.connect {
  width: 191px;
  color: #fff;
  font: 300 20px/24px "Montserrat", sans-serif;
  padding: 13px 24.5px;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.header__link:last-child {
  margin-right: 0;
}

.preview {
  height: 894px;
  width: 1718px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

.preview-top-text-1 {
  width: 391px;
  font: 300 italic 14px/18px "Montserrat", sans-serif;
  color: #CBCBCB;
  text-align: center;
  margin: 129px auto 0;
}

.preview-top__title {
  width: 680px;
  font: 400 60px/78px "Candal", sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 5px;
}

.nft {
  color: #FF4C24;
}

.preview-top-text-2 {
  width: 679px;
  font: 300 20px/26px "Montserrat", sans-serif;
  color: #CBCBCB;
  margin: 0 auto;
  margin-top: 30px;
  text-align:center;
}

.content-button {
  width: auto;
  margin-top: 100px;
  z-index: 10;
  padding-bottom: 100px;
}

.content-link-1, .content-link-2 {
  font: 400 30px/30px "Candal", sans-serif;
  text-transform: uppercase;
  padding: 14px 71px;
}
.content-link-1 {
  color: #FF4C24;
  background: rgba(255, 76, 36, 0.15);
  border: 1px solid #FF4C24;
  backdrop-filter: blur(10px);
  margin-right: 20px;
}

.content-link-2 {
  color: #101413;
  background: #59FFB7;
}

.fog {
  position: absolute;
  z-index: 5;
  left: 15%;
  top: 20%;
  width: 100%;
  max-width: 1300px;
}

@media screen and (max-width:1300px) {
  .icons {
    display: none;
  }
}

@media screen and (max-width:1000px) {
  .menu-wrap {
    display: none;
  }
}