@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Candal";
  src: url(../fonts/Candal-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

body {
  background: #1E1E1E;
}

.header {
  margin: 0 209px 0 209px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1405px;
  border-bottom: 1px solid #fff;
}

.header__logo svg {
  width: 188px;
  margin-right: 32px;
}

.menu-wrap,
.icons {
  display: flex;
  align-items: center;
}

.menu-list,
.icons-item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu__link {
  color: #CBCBCB;
  font: 300 20px/24px "Montserrat", sans-serif;
  text-decoration: none;
}

.menu__item {
  margin-right: 30px;
}

.menu__item:last-child {
  margin-right: 178px;
}

.icons-item {
  margin-right: 23.35px;
}

.icons-item:last-child {
  margin-right: 55px;
}

.header__link {
  margin-right: 20px;
  text-decoration: none;
}

.button {
  width: 191px;
  color: #fff;
  font: 300 20px/24px "Montserrat", sans-serif;
  padding: 13px 24.5px;
  border: 1px solid #fff;
  text-transform: uppercase;
}

.header__link:last-child {
  margin-right: 0;
}

.preview {
  width: 1718px;
  height: 894px;
  background: url("../image/mask.png") no-repeat;
  background-position-x: 50px;
  background-size: 100%;
}

.preview-top-text-1 {
  width: 391px;
  font: 300 italic 14px/18px "Montserrat", sans-serif;
  color: #CBCBCB;
  position: relative;
  text-align: center;
  top: 20%;
  left: 41%;
}

.preview-top__title {
  width: 680px;
  font: 400 60px/78px "Candal", sans-serif;
  color: #fff;
  text-align: center;
  position: relative;
  top: 15%;
  left: 33%;
}

.nft {
  color: #FF4C24;
}

.preview-top-text-2 {
  width: 679px;
  font: 300 20px/26px "Montserrat", sans-serif;
  color: #CBCBCB;
  text-align: center;
  position: relative;
  top: 13%;
  left: 32%;
}

.content-button {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 22%;
  left: 2%;
  z-index: 10;
}

.content-link-1, .content-link-2 {
  font: 400 30px/30px "Candal", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FF4C24;
}
.content-link-1 {
  color: #FF4C24;
  padding: 14px 71px 16px 71px;
  background: rgba(255, 76, 36, 0.15);
  border: 1px solid #FF4C24;
  backdrop-filter: blur(10px);
  margin-right: 20px;
}

.content-link-2 {
  color: #101413;
  padding: 14px 60px 16px 60px;
  background: #59FFB7;
}

.fog {
  position: absolute;
  z-index: 5;
  top: 40%;
  left: -160px;
}