@font-face {
    font-family: 'Roboto';
    src: url(/lesson-6/fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-medium';
    src: url(/lesson-6/fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    background: #F2F8F6;
    width: 1280px;
}

.wrap {
    width: 100%;
    max-width: 1072px;
    padding: 18px 48px 57px 160px;
}

.image {
    width: 232px;
    position: absolute;
    top: calc(50% + 38px);
    left: calc(50% + 33px);
    transform: translate(-50%, -50%);
    z-index: 10;
}

.content {
    max-width: 550px;
    margin: 80px 0 0 70px;
    display: inline-block;
}

.title {
    font: 50px/59px 'Roboto-medium', sans-serif;
}

p {
    font: 20px/1.4 'Roboto', sans-serif;
    margin-top: 19px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    padding: 0 43px;
    color: #fff;
    font: 'Roboto-medium', sans-serif;
    text-transform: uppercase;
    background: #3D8455;
    margin-top: 42px;
}

.list {
    padding: 0;
    margin-top: 23px;
    list-style: none;
}

.list-item {
    font: 20px/1.4 'Roboto-medium', sans-serif;
    position: relative;
    margin-bottom: 13px;
    padding-left: 15px;
}

.list-item:last-child {
    margin: 0;
}

.list-item::before {
    content: "";
    height: 13px;
    width: 12px;
    background: url(/lesson-6/image/image2.png) no-repeat, center;
    background-size: cover;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.white-square, .white-square::before {
    width: 446px;
    height: 447px;
}

.white-square {
    position: relative;
    background-color: #fff;
    display: inline-block;
    top: -98px;
    left: -33px;
    z-index: 1;
}

.white-square::before {
    content: "";
    position: absolute;
    z-index: 10;
    border: 20px solid #3D8455;
    top: 28px;
    left: 25px;
}