h1 {
    text-align: center;
}

h3 {
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

form {
    width: 45%;
    margin: auto;
}

legend {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.space {
    margin-right: 100px;
}

.space1 {
    margin-right: 83px;
}

.space2 {
    margin-right: 90px;
}

.space3 {
    margin-right: 75px;
}

.number {
    width: 241px;
}

.space4 {
    margin-right: 114px;
}

select {
    width: 247px;
}

.space5 {
    margin-right: 80px;
    display: inline-block;
    width: 60px;
    vertical-align: 40px;
}

textarea {
    resize: none;
}

.gap {
    margin-right: 50px;
}

.gap2 {
    margin-right: 50px;
}

.gap3 {
    margin-right: 45px;
}

.gap4 {
    margin-right: 54px;
}

.gap5 {
    margin-right: 27px;
}

.gap6 {
    margin-right: 64px;
}